*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
keystore.properties
/app/release/
/app/build/

imagen-v*.apk
local.properties

.release-notes-*.md
config.json
screen.png
ui.xml
logcat.txt

.commitmsg.txt

